.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sider {
    position: absolute;
    font-size: 100;
    z-index: 1000;
    /* display: flex;
    flex-direction: column;*/
    height: 100vh;
}

.header {
    font-size: large;
    top: 20px;
    color: #bfbfbf;
}