body {
    margin: 0px;
  }
  
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: #555;
}

.legend i {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 8px;
  opacity: 0.75;
}

/* MainMap */

.map-view {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index:0;
}

/* Calendar */

.map-calend {
  top: 10px;
  left: 10px;
  z-index: 600;
  height: 45px;
}

/* Select Data */

.map-view.select-data{
  top: 10px;
  width: 150px;
  height: 45px;
  left: 320px;
  z-index: 500;
  border-radius: 5px;
  font-size: 14px;
}

/* Select Province */

.map-view.select{
  top: 10px;
  width: 150px;
  height: 45px;
  left: 480px;
  z-index: 400;
  border-radius: 5px;
  font-size: 14px;
}

/* Google Authen */

.map-googleOut {
  position: relative;
  z-index: 1000;
  margin-left: 640px;
  margin-top: -34px;
}

.map-googleIn {
  margin-top: 10px;
  text-align: center;
}

/* Login Form */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  /* color: white; */
}

input {
  color: black;
}
