body {
    margin: 0px;
  }
  
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: #555;
}

.legend i {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 8px;
  opacity: 0.75;
}

/* MainMap */

.map-view {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index:0;
}

/* Calendar */

.map-view.map-calend {
  top: -35px;
  left: 10px;
  z-index: 600;
  height: 45px;
  width: 300px;
}

/* Select Data */

.map-view.select-data{
  top: 10px;
  width: 150px;
  height: 45px;
  left: 170px;
  z-index: 500;
  border-radius: 5px;
  font-size: 14px;
}

/* Select Province */

.map-view.select{
  top: 10px;
  width: 150px;
  height: 45px;
  left: 480px;
  z-index: 400;
  border-radius: 5px;
  font-size: 14px;
}

/* Google Authen */

.map-view.map-googleOut {
  top: 500px;
  width: 150px;
  height: 45px;
  left: 10px;
  z-index: 400;
}

.map-googleIn {
  margin-top: 10px;
  text-align: center;
}

/* Login Form */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}