.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sider {
    position: absolute;
    z-index: 1000;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 100vh;
}

.rangepicker {
    position: absolute;
    z-index: 1000;
    left: 0px;
    top:0px;
}