.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 200px auto; */
    /* gap: 10px; */
}

.grid-item {
    text-align: center;
}

.mapcompare {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:0;
}
  
/* Calendar */
  
.mapcompare.calend-left {
    top: 10px;
    left: 10px;
    z-index: 6000;
    height: 45px;
    width: 300px;
}

.mapcompare.calend-right {
    top: 60px;
    left: 10px;
    z-index: 6000;
    height: 45px;
    width: 300px;
}

/* Select Data */

.mapcompare.select-data-left {
    top: 10px;
    width: 150px;
    height: 45px;
    left: 320px;
    z-index: 5000;
    border-radius: 5px;
    font-size: 14px;
}
.mapcompare.select-data-right {
    top: 60px;
    width: 150px;
    height: 45px;
    left: 320px;
    z-index: 5000;
    border-radius: 5px;
    font-size: 14px;
}

/* Select Province */

.mapcompare.select-province-left {
    top: 10px;
    width: 150px;
    height: 45px;
    left: 480px;
    z-index: 4000;
    border-radius: 5px;
    font-size: 14px;
}

.mapcompare.select-province-right {
    top: 60px;
    width: 150px;
    height: 45px;
    left: 480px;
    z-index: 4000;
    border-radius: 5px;
    font-size: 14px;
}