.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 200px auto; */
    /* gap: 10px; */
}

.grid-item {
    text-align: center;
}

.map-view.compare{
    position: fixed;
    width: 50vw;
    height: 100vh;
    z-index:0;
  }
  
  /* Calendar */
  
  .map-view.compare.map-calend.compare {
    top: 10px;
    left: 1200px;
    z-index: 6000;
    height: 45px;
    width: 300px;
  }
  
  /* Select Data */
  
  .map-view.compare.select-data.compare {
    top: 10px;
    width: 150px;
    height: 45px;
    left: 1510px;
    z-index: 5000;
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* Select Province */
  
  .map-view.compare.select.compare {
    top: 10px;
    width: 150px;
    height: 45px;
    left: 1670px;
    z-index: 4000;
    border-radius: 5px;
    font-size: 14px;
  }
